* {
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
  } 
  
  img {
    align-items: flex-start;
    justify-content: right;
    width: 620px;
    height: 350px;
    border-top: 0.063rem solid black;
    position: absolute;
    display: flex;
    top: 100px;
  }
  
 .menu {
  width: 100%;
  height: 100px;
  background-color: gray;
  align-items: center;
  justify-content: space-around;
  font-size: larger;
  position: fixed;
}

a {
  text-decoration: none;
  color: white;
  }

  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

    
  #toImage {
    position: relative;
    top: 15rem;
    margin-left: 21rem;
    font-size: 2rem;
    color: black;
  }
  
  span {
    display: block;
    font-size: 4rem;
  }
  
  header, blockquote {
    font-family: 'Abril Fatface', cursive;
    color: grey;
  }

  .firstDiv {    
    margin-top: 13rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 30px;
  }

  p, ul {
    font-family: 'Josefin Sans', sans-serif;
    color: grey;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 30px;
  }
  
  ul {
    padding: 1.25rem 2.5rem;
  }
  
  h2 {
    font-family: 'Merriweather', serif;
    font-size: 0.938rem;
    line-height: 1.8;
    text-transform: uppercase;
    padding: 1.25rem; 
  }

  session, ul.session {
    font-family: 'Josefin Sans', sans-serif;
    color: grey;
    font-weight: 700;
    line-height: 10px;
  }

  ul.session {
    line-height: 1;
    font-style: normal;
  }

  #first {   
    color: white;
    height:350px;
    background-color: #484848;
    font-size: 1.875rem;
    margin: 1.875rem 0;
    padding-left: 1.25rem;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    right: 650px;
    width: 600px;
    }
  
  .secondDiv {
    position: absolute;
    top: 480px;
    }
  
  #second {
    color: white;
    height: 350px;
    background-color: #484848;
    font-size: 2.5rem;
    margin: 0.625rem auto;
    padding-left: 1.25rem;
    display: flex;
    align-items: center;
    position: relative;
    right: 690px;
    width: 600px;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .thirdDiv {
    position: absolute;
    top: 850px;
  }

  #third {
    color: white;
    height: 700px;
    width: 100%;
    background-color: #484848;
    font-size: 1.875rem;
    line-height: 1.8;
    margin: 0.625rem auto;
    padding-left: 1.25rem;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    right: 690px;
    width: 600px;
  }
  
  .fourthDiv {
    position: absolute;
    top: 1210px;
  }

  blockquote::before {
    content: '”';
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    font-size: 50px;
  }
  
  hr {
    height: 0.125rem;
    width: 100%;
    border-width: 0;
    color: black;
    background-color: black;
  }

  .footer {
    text-align: center;
  }
/* 
  .footer, hr {
    display: flex;
    
} */